
// Image Mask
image-mask()
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  &:before
    position: absolute
    top: 0
    left: 0
    display: block
    content: ''
    width: 100%
    height: 100%
    opacity: 0.4
    background-color: #394245
    background-image: linear-gradient(234deg, #394245 0%, #000 100%)

// Color
color-block-default()
  color: #000000
  background-color: #eaedf6
  background-image: linear-gradient(20deg, #e2e5ed, #f1f4f4)

color-block-orange()
   color: #494a41
   background-color: #e7f0fd
   background-image: linear-gradient(40deg, #accbee, #e7f0fd)

color-block-red()
  color: #494a41
  background-color: #e9defa
  background-image: linear-gradient(40deg, #fbfcdb, #e9defa)

color-block-violet()
  color: #494a41
  //background-color: #cd9cf2
  //background-image: linear-gradient(20deg, #cd9cf2, #f6f3ff)
  background-color: #fff1eb
  background-image: linear-gradient(40deg, #fff1eb, #ace0f9)

color-block-blue()
  color: #494a41
  background-image: #96fbc4
  background-image: linear-gradient(1deg, #96fbc4, #f9f586)

color-block-yellow()
  color: #494a41
  background-color: #37ecba
  background-image: linear-gradient(45deg, #37ecba, #72afd3)


// Card
card(margin, padding, minWidth, minHeight, borderRadius, number)
  $basis = (100 / number)%

  .card-wrap
    display: flex
    flex-wrap: wrap
    margin: 0 (-(margin))

  .card-item
    display: flex
    flex: 1 1 $basis

    &.large
      flex: 1 1 $basis * 2

    &:nth-child(1n) article
      color-block-orange()

    &:nth-child(2n) article
      color-block-red()

    &:nth-child(3n) article
      color-block-violet()

    &:nth-child(4n) article
      color-block-blue()

    &:nth-child(5n) article
      color-block-yellow()

    &.img
      .card-cover
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        background-size: cover
        background-position: center
        background-repeat: no-repeat

        &:before
          display: block
          content: ''
          width: 100%
          height: 100%
          opacity: 0.4
          background-color: #394245
          background-image: linear-gradient(234deg, #394245 0%, #000 100%)
    
    article
      position: relative
      z-index: 0
      flex: 1 1 100%
      margin: margin
      padding: padding
      min-width: minWidth
      min-height: minHeight
      border-radius: borderRadius
      overflow: hidden
      word-break: break-all
      transition: transform 0.2s ease

      &:hover
        transform: translateY(-5px)

      .card-link
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        z-index: 1

// MainContainer 
main-container-desktop()
  .main-container
    max-width: desktop-max-content-width
    background-color: #ffffff
    width: 92vw
    min-height: desktop-banner-margin * 2
    margin: 0 auto
    border-radius: 20px

main-container-mobile()
  .main-container
    background-color: #ffffff
    width: auto
    min-width: 70vw
    min-height: mobile-banner-margin * 2
    margin: 0 content-margin-min
    border-radius: 10px
