<div class="body-container">
    <div class="main-container article-list">
        <div class="card-container card-articles">
            <h1 align="center">学习一波</h1>
            <div class="card-wrap">
                <div class="card-item">
                    <a href="/categories/前端/" itemprop="url">
                        <article>

                            <h2 align="center">前端</h2>

                            <div class="article-top article-meat">
                                <span>我是真的菜，在我右边栏目的都是大佬，期望有朝一日能和右边里的大佬一样优秀！</span>
                            </div>

                        </article>
                    </a>
                </div>
                <div class="card-item">
                    <a href="/categories/AI/" itemprop="url">
                        <article>

                            <h2 align="center">AI</h2>
                            <div class="article-top article-meat">
                                <span>我是真的菜，在我右边栏目的都是大佬，期望有朝一日能和右边里的大佬一样优秀！</span>
                            </div>

                        </article>
                    </a>
                </div>
                <div class="card-item">
                    <a href="/categories/计算机/" itemprop="url">
                        <article>

                            <h2 align="center">计算机</h2>
                            <div class="article-top article-meat">
                                <span>我是真的菜，在我右边栏目的都是大佬，期望有朝一日能和右边里的大佬一样优秀！</span>
                            </div>

                        </article>
                    </a>
                </div>


            </div>
            <h1 align="center">生活</h1>
            <div class="card-wrap">



                <div class="card-item">
                    <a href="/categories/美食/" itemprop="url">
                        <article>

                            <h2 align="center">美食</h2>
                            <div class="article-top article-meat">
                                <span>我是真的菜，在我右边栏目的都是大佬，期望有朝一日能和右边里的大佬一样优秀！</span>
                            </div>

                        </article>
                    </a>
                </div>
                <div class="card-item">
                    <a href="/categories/音乐/" itemprop="url">
                        <article>

                            <h2 align="center">音乐</h2>
                            <div class="article-top article-meat">
                                <span>我是真的菜，在我右边栏目的都是大佬，期望有朝一日能和右边里的大佬一样优秀！</span>
                            </div>

                        </article>
                    </a>
                </div>
                <div class="card-item">
                    <a href="/categories/故事/" itemprop="url">
                        <article>

                            <h2 align="center">故事</h2>
                            <div class="article-top article-meat">
                                <span>我是真的菜，在我右边栏目的都是大佬，期望有朝一日能和右边里的大佬一样优秀！</span>
                            </div>

                        </article>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>